/* Transition animation effect */
@import './shared-variables.scss';

/*
    in HTML: <div class="background-ball ball-transition"></div>
    !NOTE: .background-ball is in animated-background.scss file.
    .background-ball {
        background: $deep-white;
        border-radius: 50%;
        position: fixed;
        z-index: 10;
        animation-iteration-count:infinite;
    }   
*/

/* Ball transition parameters */
.ball-transition {
    $factor:2;
    height: 100vh*$factor;
    width: 100vh*$factor;   
    margin: -1*(100vh*$factor)/2;
    @media #{$information-mobile-landscape} {
        height: 100vw*$factor;
        width: 100vw*$factor;   
        margin: -1*(100vw*$factor)/2;
    }
    bottom: 50%;
    right: 50%;
    background-color: white;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    z-index: 1000;
}

/* Start transition -> ball increases in size */
.start-transition {
    animation-name: start-ball-transition-animation;
    display: block;
}

/* End transition -> ball decreases in size */
.end-transition {
    animation-name: end-ball-transition-animation;
    display: block;
}

/* Animation for increasing */
@keyframes start-ball-transition-animation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation for decreasing */
@keyframes end-ball-transition-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.05);
    }
    100% {
        transform: scale(0);
    }
}